.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}


.col-1 {
    width: 25%;
    padding: 0 10px;
}

.col-2 {
    width: 50%;
    padding: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.image-full {
    
}

@media (max-width: 768px) {
    .col-1 {
        width: 50%;
    }

    .col-2 {
        width: 100%;
    }
}